// ----------------------------------------------
// Alignment
// ----------------------------------------------
// vetical-align
.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}
