// ----------------------------------------------
// Border
// ----------------------------------------------
.no-border {
    border: 0 !important;
}

.border-top {
    border-top: 1px solid #eee !important;
}

.border-right {
    border-right: 1px solid #eee !important;
}

.border-bottom {
    border-bottom: 1px solid #eee !important;
}

.border-left {
    border-left: 1px solid #eee !important;
}
