// --------------------------------------------------
// Text Colors
// --------------------------------------------------

.text-gray{
    text-color:$gray;
}
.text-gray-light{
    text-color:$gray-light;
}
.text-gray-lighter{
    text-color:$gray-lighter;
}
.text-gray-lightest{
    text-color:$gray-lightest;
}
.text-gray-dark{
    text-color:$gray-dark;
}
.text-gray-darker{
    text-color:$gray-darker;
}
.text-gray-darkest{
    text-color:$gray-darkest;
}

.text-brown{
    text-color:$brown;
}
.text-brown-light{
    text-color:$brown-light;
}
.text-brown-lighter{
    text-color:$brown-lighter;
}
.text-brown-lightest{
    text-color:$brown-lightest;
}
.text-brown-dark{
    text-color:$brown-dark;
}
.text-brown-darker{
    text-color:$brown-darker;
}
.text-brown-darkest{
    text-color:$brown-darkest;
}

.text-red{
    text-color:$red;
}
.text-red-light{
    text-color:$red-light;
}
.text-red-lighter{
    text-color:$red-lighter;
}
.text-red-lightest{
    text-color:$red-lightest;
}
.text-red-dark{
    text-color:$red-dark;
}
.text-red-darker{
    text-color:$red-darker;
}
.text-red-darkest{
    text-color:$red-darkest;
}

.text-orange{
    text-color:$orange;
}
.text-orange-light{
    text-color:$orange-light;
}
.text-orange-lighter{
    text-color:$orange-lighter;
}
.text-orange-lightest{
    text-color:$orange-lightest;
}
.text-orange-dark{
    text-color:$orange-dark;
}
.text-orange-darker{
    text-color:$orange-darker;
}
.text-orange-darkest{
    text-color:$orange-darkest;
}

.text-yellow{
    text-color:$yellow;
}
.text-yellow-light{
    text-color:$yellow-light;
}
.text-yellow-lighter{
    text-color:$yellow-lighter;
}
.text-yellow-lightest{
    text-color:$yellow-lightest;
}
.text-yellow-dark{
    text-color:$yellow-dark;
}
.text-yellow-darker{
    text-color:$yellow-darker;
}
.text-yellow-darkest{
    text-color:$yellow-darkest;
}

.text-green{
    text-color:$green;
}
.text-green-light{
    text-color:$green-light;
}
.text-green-lighter{
    text-color:$green-lighter;
}
.text-green-lightest{
    text-color:$green-lightest;
}
.text-green-dark{
    text-color:$green-dark;
}
.text-green-darker{
    text-color:$green-darker;
}
.text-green-darkest{
    text-color:$green-darkest;
}

.text-teal{
    text-color:$teal;
}
.text-teal-light{
    text-color:$teal-light;
}
.text-teal-lighter{
    text-color:$teal-lighter;
}
.text-teal-lightest{
    text-color:$teal-lightest;
}
.text-teal-dark{
    text-color:$teal-dark;
}
.text-teal-darker{
    text-color:$teal-darker;
}
.text-teal-darkest{
    text-color:$teal-darkest;
}

.text-blue{
    text-color:$blue;
}
.text-blue-light{
    text-color:$blue-light;
}
.text-blue-lighter{
    text-color:$blue-lighter;
}
.text-blue-lightest{
    text-color:$blue-lightest;
}
.text-blue-dark{
    text-color:$blue-dark;
}
.text-blue-darker{
    text-color:$blue-darker;
}
.text-blue-darkest{
    text-color:$blue-darkest;
}

.text-indigo{
    text-color:$indigo;
}
.text-indigo-light{
    text-color:$indigo-light;
}
.text-indigo-lighter{
    text-color:$indigo-lighter;
}
.text-indigo-lightest{
    text-color:$indigo-lightest;
}
.text-indigo-dark{
    text-color:$indigo-dark;
}
.text-indigo-darker{
    text-color:$indigo-darker;
}
.text-indigo-darkest{
    text-color:$indigo-darkest;
}

.text-purple{
    text-color:$purple;
}
.text-purple-light{
    text-color:$purple-light;
}
.text-purple-lighter{
    text-color:$purple-lighter;
}
.text-purple-lightest{
    text-color:$purple-lightest;
}
.text-purple-dark{
    text-color:$purple-dark;
}
.text-purple-darker{
    text-color:$purple-darker;
}
.text-purple-darkest{
    text-color:$purple-darkest;
}

.text-pink{
    text-color:$pink;
}
.text-pink-light{
    text-color:$pink-light;
}
.text-pink-lighter{
    text-color:$pink-lighter;
}
.text-pink-lightest{
    text-color:$pink-lightest;
}
.text-pink-dark{
    text-color:$pink-dark;
}
.text-pink-darker{
    text-color:$pink-darker;
}
.text-pink-darkest{
    text-color:$pink-darkest;
}
