// --------------------------------------------------
// Background Colors
// --------------------------------------------------

.bg-gray{
    background-color:$gray !important;
}
.bg-gray-light{
    background-color:$gray-light !important;
}
.bg-gray-lighter{
    background-color:$gray-lighter !important;
}
.bg-gray-lightest{
    background-color:$gray-lightest !important;
}
.bg-gray-dark{
    background-color:$gray-dark !important;
}
.bg-gray-darker{
    background-color:$gray-darker !important;
}
.bg-gray-darkest{
    background-color:$gray-darkest !important;
}

.bg-brown{
    background-color:$brown !important;
}
.bg-brown-light{
    background-color:$brown-light !important;
}
.bg-brown-lighter{
    background-color:$brown-lighter !important;
}
.bg-brown-lightest{
    background-color:$brown-lightest !important;
}
.bg-brown-dark{
    background-color:$brown-dark !important;
}
.bg-brown-darker{
    background-color:$brown-darker !important;
}
.bg-brown-darkest{
    background-color:$brown-darkest !important;
}

.bg-red{
    background-color:$red !important;
}
.bg-red-light{
    background-color:$red-light !important;
}
.bg-red-lighter{
    background-color:$red-lighter !important;
}
.bg-red-lightest{
    background-color:$red-lightest !important;
}
.bg-red-dark{
    background-color:$red-dark !important;
}
.bg-red-darker{
    background-color:$red-darker !important;
}
.bg-red-darkest{
    background-color:$red-darkest !important;
}

.bg-orange{
    background-color:$orange !important;
}
.bg-orange-light{
    background-color:$orange-light !important;
}
.bg-orange-lighter{
    background-color:$orange-lighter !important;
}
.bg-orange-lightest{
    background-color:$orange-lightest !important;
}
.bg-orange-dark{
    background-color:$orange-dark !important;
}
.bg-orange-darker{
    background-color:$orange-darker !important;
}
.bg-orange-darkest{
    background-color:$orange-darkest !important;
}

.bg-yellow{
    background-color:$yellow !important;
}
.bg-yellow-light{
    background-color:$yellow-light !important;
}
.bg-yellow-lighter{
    background-color:$yellow-lighter !important;
}
.bg-yellow-lightest{
    background-color:$yellow-lightest !important;
}
.bg-yellow-dark{
    background-color:$yellow-dark !important;
}
.bg-yellow-darker{
    background-color:$yellow-darker !important;
}
.bg-yellow-darkest{
    background-color:$yellow-darkest !important;
}

.bg-green{
    background-color:$green !important;
}
.bg-green-light{
    background-color:$green-light !important;
}
.bg-green-lighter{
    background-color:$green-lighter !important;
}
.bg-green-lightest{
    background-color:$green-lightest !important;
}
.bg-green-dark{
    background-color:$green-dark !important;
}
.bg-green-darker{
    background-color:$green-darker !important;
}
.bg-green-darkest{
    background-color:$green-darkest !important;
}

.bg-teal{
    background-color:$teal !important;
}
.bg-teal-light{
    background-color:$teal-light !important;
}
.bg-teal-lighter{
    background-color:$teal-lighter !important;
}
.bg-teal-lightest{
    background-color:$teal-lightest !important;
}
.bg-teal-dark{
    background-color:$teal-dark !important;
}
.bg-teal-darker{
    background-color:$teal-darker !important;
}
.bg-teal-darkest{
    background-color:$teal-darkest !important;
}

.bg-blue{
    background-color:$blue !important;
}
.bg-blue-light{
    background-color:$blue-light !important;
}
.bg-blue-lighter{
    background-color:$blue-lighter !important;
}
.bg-blue-lightest{
    background-color:$blue-lightest !important;
}
.bg-blue-dark{
    background-color:$blue-dark !important;
}
.bg-blue-darker{
    background-color:$blue-darker !important;
}
.bg-blue-darkest{
    background-color:$blue-darkest !important;
}

.bg-indigo{
    background-color:$indigo !important;
}
.bg-indigo-light{
    background-color:$indigo-light !important;
}
.bg-indigo-lighter{
    background-color:$indigo-lighter !important;
}
.bg-indigo-lightest{
    background-color:$indigo-lightest !important;
}
.bg-indigo-dark{
    background-color:$indigo-dark !important;
}
.bg-indigo-darker{
    background-color:$indigo-darker !important;
}
.bg-indigo-darkest{
    background-color:$indigo-darkest !important;
}

.bg-purple{
    background-color:$purple !important;
}
.bg-purple-light{
    background-color:$purple-light !important;
}
.bg-purple-lighter{
    background-color:$purple-lighter !important;
}
.bg-purple-lightest{
    background-color:$purple-lightest !important;
}
.bg-purple-dark{
    background-color:$purple-dark !important;
}
.bg-purple-darker{
    background-color:$purple-darker !important;
}
.bg-purple-darkest{
    background-color:$purple-darkest !important;
}

.bg-pink{
    background-color:$pink !important;
}
.bg-pink-light{
    background-color:$pink-light !important;
}
.bg-pink-lighter{
    background-color:$pink-lighter !important;
}
.bg-pink-lightest{
    background-color:$pink-lightest !important;
}
.bg-pink-dark{
    background-color:$pink-dark !important;
}
.bg-pink-darker{
    background-color:$pink-darker !important;
}
.bg-pink-darkest{
    background-color:$pink-darkest !important;
}
