// ----------------------------------------------
// Font
// ----------------------------------------------
// Font Weight
@for $counter from 1 through 9 {
  .f-w-#{ $counter * 100 } {
    font-weight: ($counter * 100) !important;
  }
}

// Font Size
@for $counter from 1 through 18 {
  .f-s-#{ $counter * 2 } {
    font-size: ($counter * 2px) !important;
  }
}

.f-s-0 {
  font-size: 0 !important;
}
