// ----------------------------------------------
// Gutter
// ----------------------------------------------
.row.no-gutter {
    margin: 0 !important;
    &>[class*="col-"] {
        padding: 0 !important;
    }
}

.row.gutter-0 {
    margin: 0 !important;
    &>[class*="col-"] {
        padding: 0 !important;
    }
}

@for $counter from 1 through 15 {
    $nameCounter: (2 * $counter);
    .row.gutter-#{ $nameCounter } {
        margin: 0 -(1px * $counter) !important;
        &>[class*="col-"] {
            padding: 0 (1px * $counter) !important;
        }
    }
}
