// Gutter

@for $counter from 0 through 15 {
  $name-counter: (2 * $counter);

  .row.g-#{$name-counter} {
    margin-left: if($counter == 0, 0, -(1px * $counter)) !important;
    margin-right: if($counter == 0, 0, -(1px * $counter)) !important;

    & > [class*="col-"] {
      padding-left: if($counter == 0, 0, (1px * $counter)) !important;
      padding-right: if($counter == 0, 0, (1px * $counter)) !important;
    }
  }
}
