/* Predefined Classes */

/* overflow */
.overflow-auto { overflow: auto !important; }
.overflow-hidden { overflow: hidden !important; }
.overflow-visible { overflow: visible !important; }
.overflow-scroll { overflow: scroll !important; }
.overflow-x-hidden { overflow-x: hidden !important; }
.overflow-x-visible { overflow-x: visible !important; }
.overflow-x-scroll { overflow-x: scroll !important; }
.overflow-y-hidden { overflow-y: hidden !important; }
.overflow-y-visible { overflow-y: visible !important; }
.overflow-y-scroll { overflow-y: scroll !important; }

/* text-align & float */
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.pull-left { float: left !important; }
.pull-right { float: right !important; }
.pull-none { float: none !important; }

/* vetical-align */
.v-a-m{ vertical-align: middle !important; }
.v-a-t{ vertical-align: top !important; }
.v-a-b{vertical-align: bottom !important; }

/* LOOP - Row Space */
@for $counter from 1 through 15 {
    $nameCounter: (2 * $counter);
    .row.row-space-#{ $nameCounter }{
        margin: 0 -(1px * $counter) !important;
        &>[class*="col-"] {
            padding: 0 (1px * $counter) !important;
        }
    }
}


/* LOOP - Margin & Padding */
@for $counter from 0 through 10 {

    @if $counter == 0{
        .m-auto { margin: 0 auto !important; }
    }

    .m-#{ $counter * 5 }{
        margin: ($counter * 5px) !important;
    }
    .m-t-#{ $counter * 5 }{
        margin-top: ($counter * 5px) !important;
    }
    .m-r-#{ $counter * 5 }{
        margin-right: ($counter * 5px) !important;
    }
    .m-b-#{ $counter * 5 }{
        margin-bottom: ($counter * 5px) !important;
    }
    .m-l-#{ $counter * 5 }{
        margin-left: ($counter * 5px) !important;
    }
    .p-#{ $counter * 5 }{
        padding: ($counter * 5px) !important;
    }
    .p-t-#{ $counter * 5 }{
        padding-top: ($counter * 5px) !important;
    }
    .p-r-#{ $counter * 5 }{
        padding-right: ($counter * 5px) !important;
    }
    .p-b-#{ $counter * 5 }{
        padding-bottom: ($counter * 5px) !important;
    }
    .p-l-#{ $counter * 5 }{
        padding-left: ($counter * 5px) !important;
    }
}

/* LOOP - Font Weight */
@for $counter from 1 through 9 {
    .f-w-#{ $counter * 100 }{
        font-weight: ($counter * 100) !important;
    }
}

/* LOOP - Font Size */
@for $counter from 1 through 20 {
    .f-s-#{ $counter * 2 }{
        font-size: ($counter * 2px) !important;
    }
}

/* LOOP - Height & Width */
@for $counter from 1 through 12 {
    @if $counter == 1 {
        .height-full { height: 100% }
        .width-full { width: 100% !important; }
    }
    .height-#{ $counter * 50 }{
        height: ($counter * 50px) !important;
    }
    .width-#{ $counter * 50 }{
        width: ($counter * 50px) !important;
    }
}

/* text-overflow */
.text-ellipsis { white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; }

/* vertical-box */
.vertical-box { display: table; table-layout: fixed; border-spacing: 0; height: 100%; width: 100%; }
.vertical-box-column { display: table-cell; vertical-align: top; height: 100%; }
.vertical-box-row { display: table-row; height: 100%; }
.vertical-box-row>.vertical-box-cell { position: relative; height: 100%; width: 100%; float: none; }
.vertical-box-row>.vertical-box-cell>.vertical-box-inner-cell { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; }
.panel-expand .vertical-box .vertical-box-column { display: table-cell; }
.page-content-full-height .content { position: absolute; left: 0; top: 54px; right: 0; bottom: -1px; }

/* border */
.no-border { border: 0 !important; }
.border-top { border-top: 1px solid #eee !important; }
.border-right { border-right: 1px solid #eee !important; }
.border-bottom { border-bottom: 1px solid #eee !important; }
.border-left { border-left: 1px solid #eee !important; }
.no-box-shadow { box-shadow: none !important; }
