// ----------------------------------------------
// Predefined Classes
// ----------------------------------------------


/* LOOP - gutter */
@for $counter from 0 through 15 {

    $nameCounter: (2 * $counter);

    .row.gutter-#{ $nameCounter }{
        margin: 0 -(1px * $counter) !important;
        &>[class*="col-"] {
            padding: 0 (1px * $counter) !important;
        }
    }
}


/* LOOP - Margin & Padding */
@for $counter from 0 through 10 {

    @if $counter == 0{
        .m-auto { margin: 0 auto !important; }
    }

    .m-#{ $counter * 5 }{
        margin: ($counter * 5px) !important;
    }
    .m-t-#{ $counter * 5 }{
        margin-top: ($counter * 5px) !important;
    }
    .m-r-#{ $counter * 5 }{
        margin-right: ($counter * 5px) !important;
    }
    .m-b-#{ $counter * 5 }{
        margin-bottom: ($counter * 5px) !important;
    }
    .m-l-#{ $counter * 5 }{
        margin-left: ($counter * 5px) !important;
    }

    .p-#{ $counter * 5 }{
        padding: ($counter * 5px) !important;
    }
    .p-t-#{ $counter * 5 }{
        padding-top: ($counter * 5px) !important;
    }
    .p-r-#{ $counter * 5 }{
        padding-right: ($counter * 5px) !important;
    }
    .p-b-#{ $counter * 5 }{
        padding-bottom: ($counter * 5px) !important;
    }
    .p-l-#{ $counter * 5 }{
        padding-left: ($counter * 5px) !important;
    }
}

/* LOOP - Font Weight */
@for $counter from 1 through 9 {
    .f-w-#{ $counter * 100 }{
        font-weight: ($counter * 100) !important;
    }
}

/* LOOP - Font Size */
@for $counter from 1 through 20 {
    .f-s-#{ $counter * 2 }{
        font-size: ($counter * 2px) !important;
    }
}

/* LOOP - Height & Width */
@for $counter from 1 through 12 {
    @if $counter == 1 {
        .height-full { height: 100% }
        .width-full { width: 100% !important; }
    }
    .height-#{ $counter * 50 }{
        height: ($counter * 50px) !important;
    }
    .width-#{ $counter * 50 }{
        width: ($counter * 50px) !important;
    }
}

/* border */
.no-border { border: 0 !important; }
.border-top { border-top: 1px solid #eee !important; }
.border-right { border-right: 1px solid #eee !important; }
.border-bottom { border-bottom: 1px solid #eee !important; }
.border-left { border-left: 1px solid #eee !important; }

/* box-shadow */
.no-box-shadow { box-shadow: none !important; }

/* text-align */
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

/* vetical-align */
.align-top{ vertical-align: top !important; }
.align-middle{ vertical-align: middle !important; }
.align-bottom{ vertical-align: bottom !important; }

/* text-overflow */
.text-ellipsis { white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; }

/* float */
.pull-left { float: left !important; }
.pull-right { float: right !important; }
.pull-none { float: none !important; }

/* overflow */
.overflow-auto { overflow: auto !important; }
.overflow-hidden { overflow: hidden !important; }
.overflow-visible { overflow: visible !important; }
.overflow-scroll { overflow: scroll !important; }
.overflow-x-hidden { overflow-x: hidden !important; }
.overflow-x-visible { overflow-x: visible !important; }
.overflow-x-scroll { overflow-x: scroll !important; }
.overflow-y-hidden { overflow-y: hidden !important; }
.overflow-y-visible { overflow-y: visible !important; }
.overflow-y-scroll { overflow-y: scroll !important; }
