// Overflow

$utilities: map-merge(
  (
    'overflow': (
      property: overflow,
      class: overflow,
      values: auto hidden scroll
    ),
    'overflow-x': (
      property: overflow-x,
      class: overflow-x,
      values: hidden scroll
    ),
    'overflow-y': (
      property: overflow-y,
      class: overflow-y,
      values: hidden scroll
    )
  ),
  $utilities
);
