// ----------------------------------------------
// box-shadow
// ----------------------------------------------
.no-box-shadow {
    box-shadow: none !important;
}

.shadow-xs{
    box-shadow:0 0 0 0 rgba(0,0,0,.15);
}

.shadow-sm{
    box-shadow:0 0 0 0 rgba(0,0,0,.15);
}

.shadow-md{
    box-shadow:0 0 0 0 rgba(0,0,0,.15);
}

.shadow-lg{
    box-shadow:0 0 0 0 rgba(0,0,0,.15);
}

.shadow-xl{
    box-shadow:0 0 0 0 rgba(0,0,0,.15);
}
