// ----------------------------------------------
// box-shadow
// ----------------------------------------------
.no-shadow,
.shadow-none {
  box-shadow: none !important;
}

.shadow-xs {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .15);
}

.shadow-sm {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .15);
}

.shadow-md {
  box-shadow: 0 3px 20px 3px rgba(0, 0, 0, .15);
}

.shadow-lg {
  box-shadow: 0 4px 30px 4px rgba(0, 0, 0, .15);
}

.shadow-xl {
  box-shadow: 0 5px 40px 5px rgba(0, 0, 0, .15);
}
