// ----------------------------------------------
// Sizing - Height & Width
// ----------------------------------------------
.w-full {
  width: 100% !important;
}

.h-full {
  height: 100% !important;
}

// The helpers below can be used for setting icons size.
@for $counter from 1 through 25 {
  .w-#{ $counter * 2 } {
    width: ($counter * 2px) !important;
  }
  .h-#{ $counter * 2 } {
    height: ($counter * 2px) !important;
  }
}
