// ----------------------------------------------
// Text
// ----------------------------------------------
// text-align
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

// text-overflow
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// uppercase
.text-uppercase {
  text-transform: uppercase !important;
}

// vertical centering
.text-middle {
  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
}
